
/*https://www.dienodigital.com/do-it-yourself-tutorials-navbar-css-tutorial-3-ways-to-create-a-navigation-bar-with-flexbox/*/

/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

body {
  font-family: 'Hind Guntur', sans-serif;
  margin: 0px 10%;
  border: rgba(33, 35, 38, 0.2) 1px solid;  
}

header {
  display: flex;
  justify-content: space-between; /* pushed right and left items to the side */
  align-items: center;
  padding: 30px 3% 5px 2%;  
  box-shadow: rgba(33, 35, 38, 0.3) 0px 15px 10px -10px;

}

main {
padding-top: 30px;
  font-size: 22px;
}

.name {
  font-family: 'Dosis';
  font-size: 50px;
  box-shadow: inset 0 -30px 0 0 rgba(200, 247, 197, 1);
}

nav {
  padding: 30px 0 10px 0;
}


.nav_links {
  list-style-type: none;
    font-size: 26px;
}

.nav_links li {
  display: inline-block;
  padding: 0 8px;
}

.nav_links li a {
  text-decoration: none;
  color: black;
}

.nav_links_inset li a {
  font-style: italic;
}

.name:hover {
  border-bottom: green solid 2px;
}

.nav_links li a:hover {
  text-decoration: none;
  color: black;
  border-bottom: green solid 2px;  
}


